
/* Estilos específicos para la florería */
h1,
h3 {
  color: #d620b0;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 1.2rem;
}

label {
  font-size: 1.3rem;
}

button[type="submit"] {
  font-size: 1.3rem;
}