.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('fondo.jpg'), radial-gradient(#dd22b4, #bb1992);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.App > * {
  width: 100%;
}
